/*General*/
.repos > a{
	width: 100%;
    display: block;
	font-size: 1.5em;
    margin: 5px 0;
}
button{
	display: block;
	border: none;
}
/*Nav*/
#nav{ padding: 10px 0; }
img.logo{
	height: 55px;
}
i.back{
	font-size: 35px;
    position: absolute;
    top: 20px;
    left: 5px;
}
i.forward{
	font-size: 35px;
    position: absolute;
    top: 20px;
    right: 5px;	
}
/*Content*/
.content{
	min-height: 100vh;
	height: 100vh;	
	padding-top: 20px;
}
div.repo, div.repos{
	margin-top: 30px;
	padding: 15px;
	box-shadow: 5px 5px grey;
	min-height: 300px;
}
.repo h2{
	text-align: center;
    margin-bottom: 20px;
}
.repo h4{
	text-align: center;
}
