/*General*/
button{
	display: block;
	border: none;
}
/*Nav*/
#nav{ padding: 10px 0; }
img.logo{
	width: 150px;
}
i.back{
	font-size: 35px;
    position: absolute;
    top: 20px;
    left: 5px;
}
i.forward{
	font-size: 35px;
    position: absolute;
    top: 20px;
    right: 5px;	
}
/*Content*/
.content{
	min-height: 100vh;
	height: 100vh;	
	padding-top: 20px;
}
div.local, div.locals{
	width: 500px;
	margin-top: 30px;
	padding: 15px;
	box-shadow: 5px 5px grey;
	min-height: 300px;
}
.local h2{
	text-align: center;
    margin-bottom: 20px;
}
